
body {
    /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(5) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(259, 13%, 0%, 0.13)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */
    /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(54, 0%, 100%, 1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(0, 3%, 71%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(219, 211, 211, 0.028)0%,rgb(49, 58, 109) 100%);
    font-family: "Asap", sans-serif;
    text-align: center;
    /* margin-top: 50px; */
    height: 100%;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    /* overflow: hidden; */
    }

    .container {  display: grid;
        grid-template-columns: 1.1fr 1.1fr 1.1fr;
        grid-template-rows:  10% 45% 10%;
        /* grid-auto-rows: 1fr; */
        gap: 9px 9px;
        grid-auto-flow: row dense;
        justify-content: center;
        justify-items: center;
        align-items: center;
        grid-template-areas:
          "Title Title Title"
          "ToDoList Pomodoro Calendario"
          "ToDoList Spotify NoDefinido";
      }
      
      .Title {
        justify-self: stretch;
        align-self: center;
        grid-area: Title;

          .principalTitle {
            /* cursor:text; */
            font-size: 3.5rem;
            font-weight: bold;
            border: none;
            outline: none;
            width: 100%;
            background: transparent;
            text-align: center;
            font-family: "Comfortaa", sans-serif;
            color: rgb(255, 244, 244);
            padding: 0;
            margin: 15px 0px 15px 0px;
          }
          .principalTitle::placeholder{
            color: rgba(255, 244, 244, 0.634);
            font-family: "Comfortaa", sans-serif;
            font-weight: bold;
          }
      }
      
      .ToDoList {
        justify-self: stretch;
        align-self: start;
        grid-area: ToDoList;

        #todo-container {
            background: rgba(3, 17, 96, 0.615);
            /* background: radial-gradient(circle, rgba(74, 60, 60, 0.028) 0%, rgb(41, 46, 196) 100%); */
            /* background: radial-gradient(ellipse at top, #888790, transparent),
                        radial-gradient(ellipse at bottom, #4e52a9, transparent); */
            /* width: 400px; */
            margin: 0 auto;
            border: 2px solid #d8cdcd;
            padding: 20px;
            color: rgb(255, 244, 244);
            border-radius: 15px;
        
        }
        #header {
            margin: 5px;
            font-size: 20px;
            text-align: center;
        }
        
        h1{
            margin-bottom: 20px;
            color: white;
        }
        
        #input-box {
            width: 200px;
            padding: 10px;
            border: 1px solid #fffbfb;
            border-radius: 15px;
            margin-right: 5px;
            font-size: 15px;
        }
        
        #input-buttom {
            font-family: "Asap", sans-serif;
            font-size: 12px;
            color: #fffbfb;
            cursor: pointer;
            transition: 0.4s;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            border: 1px solid #fffbfb;
            border-radius: 15px;
            background-color: #676f9a;
        }
        
        #input-buttom:hover{
            background-color: #bacbbc;
        }
        
        ul {
            list-style: none;
            padding: 0;
            margin-top: 20px;
            text-align: left;
        }
        
        li{
            /* border: 1px solid white;
            border-radius: 5px; */
            margin-bottom: 10px;
            padding: 10px;
            margin-top: 10px;
        }
        
        .edit-btn, .delete-btn {
            float: right;
            /* color: rgb(245, 251, 253); */
            cursor: pointer;
            margin: 3px 5px;
            background: none;
        }
        .edit-btn:hover i, .delete-btn:hover i{
            color: rgb(171, 10, 10);
        }
        
        .completed{
            text-decoration:line-through;
            color: rgb(153, 168, 183);
            /* border: 1px solid gray; */
        }

      }
      
      .Pomodoro {
        justify-self: stretch; 
        align-self: stretch; 
        grid-area: Pomodoro; 

        .pomodoro-container {
          text-align: center;
          background: rgba(3, 17, 96, 0.615);
          color: rgb(255, 244, 244);
          /* width: 400px; */
          margin: 0 auto;
          border: 2px solid #d8cdcd;
          padding: 20px;
          border-radius: 15px;
          display:grid; 
        grid-template-columns: 1.5fr 1.5fr 1.5fr; 
        grid-template-rows: 12% 10% 10% 10% 20% 10% 13% 10%; 
        gap: 0px 0px; 
        grid-template-areas: 
          "pomodoroTitle pomodoroTitle pomodoroTitle"
          "trabajo descanso descansoLargo"
          "trabajo descanso descansoLargo"
          ". textDisplay ."
          ". timerDisplay ."
          "botonIniciar botonPausar botonReiniciar"
          "ciclosCompletados ciclosCompletados ciclosCompletados"
          "progressBar progressBar progressBar"; 
      
          .pomodoroTitle {
          justify-self: stretch; 
          align-self: center; 
          margin: 5px;
          /* margin-top: 20px; */
          /* padding-bottom: 20px; */
          font-size: 20px;
          grid-area: pomodoroTitle;
          }
          .trabajo { 
              grid-area: trabajo;
              justify-self: stretch;
              align-self: center;
  
              input {
                  width: 30px;
                  padding: 9px;
                  border: 1px solid #fffbfb;
                  border-radius: 15px;
                  margin-right: 7px;
                  font-size: 12px;
              }
           }
          .descanso { 
              grid-area: descanso;
              justify-self: stretch; 
              align-self: center; 
  
              input {
                  width: 30px;
                  padding: 9px;
                  border: 1px solid #fffbfb;
                  border-radius: 15px;
                  margin-right: 7px;
                  font-size: 12px;
              }
           }
          .descansoLargo { 
              grid-area: descansoLargo;
              justify-self: stretch;
              align-self: center;
  
              input {
                  width: 30px;
                  padding: 9px;
                  border: 1px solid #fffbfb;
                  border-radius: 15px;
                  margin-right: 7px;
                  font-size: 12px;
              }
           }
          .textDisplay { 
              font-size:medium;
              grid-area: textDisplay;
              align-self: center;
          }
          .timerDisplay { grid-area: timerDisplay; }
          .botonIniciar { 
              display:inline-block; 
              grid-area: botonIniciar;
              justify-self:end;
              align-self: center;
           }
          .botonPausar { 
              grid-area: botonPausar;
              justify-self: stretch;
              align-self: center;
           }
          .botonReiniciar { 
              grid-area: botonReiniciar;
              justify-self: start;
              align-self: center;
           }
          .ciclosCompletados {
          justify-self: center; 
          align-self: center; 
          grid-area: ciclosCompletados; 
          }
          .progressBar {
          justify-self: stretch; 
          align-self: center; 
          grid-area: progressBar; 
          }
          
          h1, h2, h3 {
              margin: 10px 0;
          }
          
          #timer {
              font-size: 2em;
              margin: 5px 0;
          }
          
          button {
              font-family: "Asap", sans-serif;
              font-size: 12px;
              color: #fffbfb;
              cursor: pointer;
              transition: 0.4s;
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 20px;
              padding-right: 20px;
              border: 1px solid #fffbfb;
              border-radius: 15px;
              background-color: #676f9a;
          }
      
          button:hover {
              background-color: #bacbbc;
            }
          
          #progressBarContainer {
              width: 100%;
              background-color: #e0e0e0;
              margin: 20px 0;
          }
          
          #progressBar {
              width: 0%;
              height: 10px;
              background-color: #76c7c0;
          }
        }
      }

      .Spotify {
        justify-self:stretch;
        align-self:stretch;
        grid-area: Spotify;

        .spotify-container{
          margin-top: 100px;
          background: rgba(3, 17, 96, 0.615);
          margin: 0 auto;
          color:rgb(255, 244, 244);
          border-radius: 15px;
        }
      }
      
      
      .Calendario {
        justify-self: center;
        align-self: stretch;
        grid-area: Calendario;

        .calendario-container {
          text-align: left;
            /* width: 400px; */
            height: 510px;
             /* background: salmon; */
            /* margin: 5% auto; */
            /* border-radius: 15px 15px 15px 15px;
            border: 2px solid #d8cdcd; */
            
          .header_calendar {
            width: 80%;
            height: 25%;
            background: rgba(3, 17, 96, 0.615);
            border-radius: 15px 15px 0px 0px;
            display: flex;
            flex-direction: column; }
            .header_calendar h1 {
              margin: 10px 10px 0px 30px;
              padding: 0px;
              color: rgb(255, 244, 244);
              font-size: 40px; }
            .header_calendar h5 {
              margin: 0px 30px;
              padding: 0px;
              color: rgb(255, 244, 244);
              font-size: 40px; }
          
          .body_calendar {
            width: 80%;
            height: 47%;
            background: rgba(255, 255, 255, 0.616);
            border-radius: 0px 0px 15px 15px; }
          
          .container_details {
            width: 100%;
            height: 30px;
            /* background: #000000; */
            position: relative;
            top: -13px;
            display: flex;
            justify-content: space-between; }
            .container_details .detail_1, .container_details .detail_2 {
              width: 70px;
              height: 100%;
              /* background: salmon; */
              display: flex;
              justify-content: center; }
              .container_details .detail_1 .detail, .container_details .detail_2 .detail {
                margin: 0px 2px;
                width: 10px;
                height: 100%;
                /* background:red; */ }
                .container_details .detail_1 .detail .circle, .container_details .detail_2 .detail .circle {
                  width: 10px;
                  height: 10px;
                  background: #1C1E26;
                  position: relative;
                  top: calc(30px - 10px);
                  border-radius: 50%; }
                  .container_details .detail_1 .detail .circle .column, .container_details .detail_2 .detail .circle .column {
                    width: 80%;
                    height: 30px;
                    background: #6a717d;
                    margin: 0px auto;
                    position: relative;
                    top: -22px;
                    border-radius: 5px; }
          
          .container_change_month {
            width: 100%;
            height: 25px;
            /* background: gold; */
            display: flex;
            justify-content: space-evenly;
            opacity: 0.7; }
            .container_change_month div {
              /* background: firebrick; */
              height: 20px;
              margin: auto;
              font-family: "Asap", sans-serif;
            }
            .container_change_month button {
              font-family: "Asap", sans-serif;
              font-size: 20px;
              margin: auto 5px;
              border: none;
              background: none;
              cursor: pointer; }
          
          .container_weedays {
            width: 90%;
            height: 20px;
            /* background: #fa80725e; */
            display: flex;
            margin: 0px auto; }
            .container_weedays span {
              color: #404f97;
              font-family: "Asap", sans-serif;
              height: 100%;
              line-height: 1; }
          
          .week_days_item {
            display: flex;
            /* background: firebrick; */
            margin: auto;
            width: calc(100% / 7);
            justify-content: center;
            cursor: pointer; }
          
          .week_days_item:hover {
            color:  #b1cbb4; }
          
          .prev_days {
            opacity: 0.5; }
          
          .container_days {
            width: 90%;
            height: auto;
            /* background: darkcyan; */
            display: flex;
            flex-flow: row wrap;
            margin: 0px auto; }
    
            .container_days span {
              color: #4e4e4e;
              /* background: #000; */
              /* height: 20px; */
              margin: 3px 0px;
              padding: 0px;
           }
            .container_days .today {
              display: flex; }
            .container_days .today:after {
              content: "";
              width: 19px;
              height: 19px;
              background:  #8fcc96bd;
              position: absolute;
              border-radius: 50%;
              border: 5px solid  #8fcc96bd;
              opacity: 0.6;
              margin: -5px 0px 0px 1px; }
    
      }
        }
      
      .NoDefinido {
        justify-self: stretch;
        align-self: stretch;
        grid-area: NoDefinido;
      }
      
    .alerts{
      background:#ffda9b;
      padding:20px 40px;
      min-width: 420px;
      position: absolute;
      right: 0px;
      top: 10px;
      overflow: hidden;
      border-radius: 4px;
      border-left: 8px solid #ffa502;
      text-align: left;
      color: #ffa502;
    }
    .alerts.show {
      animation: show_slide 1s ease forwards;
    }
    @keyframes show_slide {
      0% {
        transform: translateX(100%);
      }
      40% {
        transform: translateX(-10%);
      }
      80% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-10px);
      }
    }

    .alerts.hide {
      display: none;
    }

    .alerts.fa-exclamation-circle{
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      color: #ce8600bb;
      font-size: 30px;
    }
    .alerts.msg {
      padding: 0 20px;
      font-size: 18px;
      color:  #ce8600bb;
    }
