body {
    /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(5) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(259, 13%, 0%, 0.13)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */
    /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(54, 0%, 100%, 1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(0, 3%, 71%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(219, 211, 211, 0.028)0%,rgb(49, 58, 109) 100%);
    font-family: "Asap", sans-serif;
    text-align: center;
    margin-top: 50px;
    height: 100%;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    }

    .container {  display: grid;
        grid-template-columns: 1.1fr 0.8fr 1.1fr;
        grid-template-rows: 0.5fr 1fr 1fr;
        /* grid-auto-rows: 1fr; */
        gap: 9px 9px;
        grid-auto-flow: row dense;
        justify-content: center;
        justify-items: center;
        align-items: center;
        grid-template-areas:
          "Title Title Title"
          "ToDoList Pomodoro NoDefinido"
          "ToDoList Calendario Spotify";
      }
      
      .Title {
        justify-self: stretch;
        align-self: center;
        grid-area: Title;
      }
      
      .ToDoList {
        justify-self: stretch;
        align-self: start;
        grid-area: ToDoList;
      }
      
      .Spotify {
        justify-self:stretch;
        align-self:flex-start;
        grid-area: Spotify;
      }
      
      .Pomodoro {
        justify-self: stretch;
        align-self: start;
        grid-area: Pomodoro;

          
          .Pomodoro {
            width: 250px;
            height: 420px;
            margin: 40px auto;
            text-align: center;
            border-radius: 5px;
            padding: 20px;
          }

          .app-circle{
            position: relative;
            margin: 0 auto;
            width: 200px;
            height: 200px;
          }
          
          .circle-shape{
            pointer-events: none;
          }

          .semi-circle {
            position: absolute;
            width: 100px;
            height: 200px;
            box-sizing: border-box;
            border: solid 6px;
          }

          .left-side {
            top: 0;
            left: 0;
            transform-origin: right center;
            transform: rotate(0deg);
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            border-right: none;
            z-index: 1;
          }

          .right-side {
            top: 0;
            left: 100px;
            transform-origin: left center;
            transform: rotate(0deg);
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            border-left: none;
          }

          .circle {
            border-color: #2d2d6b;
          }
          .circle-mask {
            border-color: #36397e;
          }

          .app-counter-box {
            font-size: 250%;
            position: relative;
            top: 50px;
            color: #000000;
          }

          button {
            position: relative;
            top: 50px;
            font-size: 80%;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: none;
            background: none;
            outline: none;
            color: #000000;
            margin: 5px;
          }

          button:hover{
            color: #90c0d1;
          }
      }
      
      .Calendario {
        justify-self: stretch;
        align-self: stretch;
        grid-area: Calendario;
      }
      
      .NoDefinido {
        justify-self: stretch;
        align-self: stretch;
        grid-area: NoDefinido;
      }
      
      
      
      
      
      

#todo-container{
    background: rgba(3, 17, 96, 0.615);
    /* background: radial-gradient(circle, rgba(74, 60, 60, 0.028) 0%, rgb(41, 46, 196) 100%); */
    /* background: radial-gradient(ellipse at top, #888790, transparent),
                radial-gradient(ellipse at bottom, #4e52a9, transparent); */
    width: 400px;
    margin: 0 auto;
    border: 2px solid #d8cdcd;
    padding: 20px;
    color: rgb(255, 244, 244);
    border-radius: 15px;

}
#header {
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

h1{
    margin-bottom: 20px;
}

#input-box {
    width: 200px;
    padding: 10px;
    border: 1px solid #fffbfb;
    border-radius: 15px;
    margin-right: 5px;
    font-size: 15px;
}

#input-buttom {
    font-family: "Asap", sans-serif;
    font-size: 12px;
    color: #fffbfb;
    cursor: pointer;
    transition: 0.4s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #fffbfb;
    border-radius: 15px;
    background-color: #676f9a;
}

#input-buttom:hover{
    background-color: #bacbbc;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}

li{
    /* border: 1px solid white;
    border-radius: 5px; */
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
}

.edit-btn, .delete-btn {
    float: right;
    /* color: rgb(245, 251, 253); */
    cursor: pointer;
    margin: 3px 5px;
    background: none;
}
.edit-btn:hover i, .delete-btn:hover i{
    color: rgb(171, 10, 10);
}

.completed{
    text-decoration:line-through;
    color: rgb(153, 168, 183);
    /* border: 1px solid gray; */
}