body {
    /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(5) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(259, 13%, 0%, 0.13)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */
    /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(54, 0%, 100%, 1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(0, 3%, 71%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(219, 211, 211, 0.028)0%,rgb(49, 58, 109) 100%);
    font-family: "Asap", sans-serif;
    text-align: center;
    margin-top: 50px;
    }

#todo-container{
    background: rgba(3, 17, 96, 0.615);
    /* background: radial-gradient(circle, rgba(74, 60, 60, 0.028) 0%, rgb(41, 46, 196) 100%); */
    /* background: radial-gradient(ellipse at top, #888790, transparent),
                radial-gradient(ellipse at bottom, #4e52a9, transparent); */
    width: 400px;
    margin: 0 auto;
    border: 2px solid #d8cdcd;
    padding: 20px;
    color: rgb(255, 244, 244);
    border-radius: 15px;

}
#header {
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

h1{
    margin-bottom: 20px;
}

#input-box {
    width: 200px;
    padding: 10px;
    border: 1px solid #fffbfb;
    border-radius: 15px;
    margin-right: 5px;
    font-size: 15px;
}

#input-buttom {
    font-family: "Asap", sans-serif;
    font-size: 12px;
    color: #fffbfb;
    cursor: pointer;
    transition: 0.4s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #fffbfb;
    border-radius: 15px;
    background-color: #676f9a;
}

#input-buttom:hover{
    background-color: #bacbbc;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}

li{
    /* border: 1px solid white;
    border-radius: 5px; */
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
}

.edit-btn, .delete-btn {
    float: right;
    /* color: rgb(245, 251, 253); */
    cursor: pointer;
    margin: 3px 5px;
    background: none;
}
.edit-btn:hover i, .delete-btn:hover i{
    color: rgb(171, 10, 10);
}

.completed{
    text-decoration:line-through;
    color: rgb(153, 168, 183);
    /* border: 1px solid gray; */
}